



tr,td {
    border: 1px;
    border-style: solid;
    text-align: center;
    font-size: large;
}
img {
    border-radius: 5%; 
    width: 200px;
    margin-top: 2ch;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;
   
}
input {
    display: flex;
    width: 1000px;
    height: 200px;
    
}

.bodyColor {
    background-color: blanchedalmond;
}
#address{
    color: rgb(68, 0, 255);


}

.aClass {
    list-style: none;
    padding-left: 0;
   color: rgba(255, 255, 255, 0.808);

    text-decoration: none;
    color: #1cb616;

}
.image-visibility  {
    visibility: hidden;

}
.price {

}


.main-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em; }


    body { 
        background-color: rgb(219, 186, 192);
    }
    table th { 
        text-align: center;
        font-size: large;
        font-weight: 800;

       
    }
    